@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline{
    --font-jakarta: var(--font-jakarta);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

@theme static{
   --color-primary-10:#E0DAFF;
  --color-primary-20:#F3EFFE;
  --color-primary-50:#F5F3FF;
  --color-primary-100:#ECE9FE;
  --color-primary-200:#DCD6FE;
  --color-primary-300:#C2B4FE;
  --color-primary-400:#a28afb;
  --color-primary-500:#8a61f8;
  --color-primary-600:#7538ef;
  --color-primary-650: #8153FD;
  --color-primary-700:#6726db;
  --color-primary-800:#561fb8;
  --color-primary-900:#481c96;
  --color-primary-950:#2b0f66;

  --color-secondary-50:#fff9eb;
  --color-secondary-100:#ffefc6;
  --color-secondary-200:#fede89;
  --color-secondary-300:#fec649;
  --color-secondary-400:#fdb022;
  --color-secondary-500:#f88d08;
  --color-secondary-600:#db6704;
  --color-secondary-700:#b64607;
  --color-secondary-800:#94360c;
  --color-secondary-900:#792d0e;
  --color-secondary-950:#461502;
  --color-secondary-1000:#FFD45D;

  --color-gray-50:#f6f7f9;
  --color-gray-100:#eceff2;
  --color-gray-200:#d5dbe2;
  --color-gray-300:#b0bbc9;
  --color-gray-400:#8696aa;
  --color-gray-500:#677990;
  --color-gray-600:#526277;
  --color-gray-700:#475467;
  --color-gray-800:#3a4452;
  --color-gray-900:#343b46;
  --color-gray-950:#22272f;

  --color-French-Lilac-50:#fff4fd;
  --color-French-Lilac-100:#ffe7fb;
  --color-French-Lilac-200:#ffc1f5;
  --color-French-Lilac-300:#fea9ed;
  --color-French-Lilac-400:#fc76de;
  --color-French-Lilac-500:#f342cb;
  --color-French-Lilac-600:#d722aa;
  --color-French-Lilac-700:#b21988;
  --color-French-Lilac-800:#921670;
  --color-French-Lilac-900:#77185a;
  --color-French-Lilac-950:#500239;

   --color-Inch-Worm-50:#f8fee7;
  --color-Inch-Worm-100:#effccb;
  --color-Inch-Worm-200:#def99d;
  --color-Inch-Worm-300:#c6f264;
  --color-Inch-Worm-400:#b2e742;
  --color-Inch-Worm-500:#8ecb17;
  --color-Inch-Worm-600:#6ea30d;
  --color-Inch-Worm-700:#537c0f;
  --color-Inch-Worm-800:#446212;
  --color-Inch-Worm-900:#3a5314;
  --color-Inch-Worm-950:#1c2e05;

  --color-blue-01: #101828;
  --color-white-01:#f3f6fc;

  --text-size-90: 5.625rem;

   --max-width-containerGRID:83.875rem;
   --max-width-hero-areaText:39.875rem;
   --max-width-title-categories:40.4375rem;
   --max-width-title-personal:45.9375rem;
   --max-width-footer-form: 28.875rem;
    --max-width-containerFooter: 83.75rem;
   --max-width-cardSection:60.0625rem;
    --max-width-value-infos: 39rem;
    --max-width-page-about:39rem;

    --max-width-card-course-home:26.125rem;
    --max-width-card-journey: 19rem;
    --max-width-card-p:34.375rem;

   --height-hero-areaImage:45rem;
   --height-card-category:21.875rem;
   --height-card-course: 25.875rem;
   --height-card-story:34.3125rem;
   --height-image-about:32.25rem;

   --breakpoint-desktop:80rem;
   --breakpoint-laptop: 64rem;
   --breakpoint-tablet:48rem;

   --background-image-elevate: url("../assets/bg-elevate.svg");
   --background-image-journey: url("../assets/detailbgJourney.svg");
   --background-image-detail01: url("../assets/icons/icon-detail-01.svg");
   --background-image-detail02: url("../assets/icons/bgdetail02.png");
   --background-image-sectionPersonal: url("../assets/images/hero/img-personal-banner.png");

}

body{
     font-family: var(--font-Jakarta);
}

button{
  cursor: pointer;
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}